/* Set default font and text color */
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color:#e6ffff;

}


.styled-table {
    width: 900%;
    max-width: 1000px;
    
    margin: 0 auto;
    border-collapse: collapse;
    border-style: solid;
    border-color: #85e0e0;
    background-color: #f2f2f2;
    
  
}

/* Style table header */
.styled-table th {
    background-color: #00cccc;
    color: #fff;
    text-align: center;
    padding: 10px;

  
}

.styled-table tbody tr:hover {
    background-color: #ddd;
}


.btn {
    padding: 5px 10px;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 5px;
}

.btn-edit {
    background-color: #006666;
}

.btn-delete {
    background-color: #e74c3c;
}

.btn-add {
    background-color: #006666;
    margin-bottom: 20px;
}



h2{
    font-weight:bolder;
    color: #00cccc;
font-size: 2.5rem;
    
        margin-bottom: 20px;
        
}